## import necessary libaries

In [20]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np

In [2]:
gas_turbine = pd.read_csv('gas_turbines.csv')
gas_turbine

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.00,114.70,10.605,3.1547,82.722
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.00,114.72,10.598,3.2363,82.776
2,6.8977,1008.8,95.939,3.4824,19.779,1059.4,549.87,114.71,10.601,3.2012,82.468
3,7.0569,1009.2,95.249,3.4805,19.792,1059.6,549.99,114.72,10.606,3.1923,82.670
4,7.3978,1009.7,95.150,3.4976,19.765,1059.7,549.98,114.72,10.612,3.2484,82.311
...,...,...,...,...,...,...,...,...,...,...,...
15034,9.0301,1005.6,98.460,3.5421,19.164,1049.7,546.21,111.61,10.400,4.5186,79.559
15035,7.8879,1005.9,99.093,3.5059,19.414,1046.3,543.22,111.78,10.433,4.8470,79.917
15036,7.2647,1006.3,99.496,3.4770,19.530,1037.7,537.32,110.19,10.483,7.9632,90.912
15037,7.0060,1006.8,99.008,3.4486,19.377,1043.2,541.24,110.74,10.533,6.2494,93.227
15038,6.9279,1007.2,97.533,3.4275,19.306,1049.9,545.85,111.58,10.583,4.9816,92.498

## Data understanding

In [3]:
gas_turbine.shape

(15039, 11)

In [4]:
gas_turbine.isna().sum()

AT      0
AP      0
AH      0
AFDP    0
GTEP    0
TIT     0
TAT     0
TEY     0
CDP     0
CO      0
NOX     0
dtype: int64

In [5]:
gas_turbine.dtypes

AT      float64
AP      float64
AH      float64
AFDP    float64
GTEP    float64
TIT     float64
TAT     float64
TEY     float64
CDP     float64
CO      float64
NOX     float64
dtype: object

In [6]:
X = gas_turbine.drop('TEY',axis=1)
y = gas_turbine[['TEY']]

In [7]:
X.std()

AT       7.574323
AP       6.410760
AH      13.793439
AFDP     0.760197
GTEP     4.173916
TIT     16.527806
TAT      7.866803
CDP      1.103196
CO       2.222206
NOX     10.470586
dtype: float64

## Standard scalar

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
std_scale = StandardScaler()
scaled_X  = std_scale.fit_transform(X)
scaled_X  = pd.DataFrame(scaled_X,columns=X.columns)
scaled_X

,AT,AP,AH,AFDP,GTEP,TIT,TAT,CDP,CO,NOX
0,-1.439778,-0.826644,1.281436,-0.921232,-1.379101,-1.488376,0.585240,-1.357331,0.532012,1.387845
1,-1.449601,-0.748647,1.304564,-0.921495,-1.363528,-1.482325,0.585240,-1.363676,0.568733,1.393002
2,-1.434721,-0.686250,1.219086,-0.944385,-1.351309,-1.476275,0.568715,-1.360957,0.552938,1.363586
3,-1.413702,-0.623853,1.169060,-0.946884,-1.348194,-1.464173,0.583969,-1.356424,0.548933,1.382878
4,-1.368693,-0.545857,1.161883,-0.924389,-1.354663,-1.458123,0.582698,-1.350985,0.574179,1.348591
...,...,...,...,...,...,...,...,...,...,...
15034,-1.153182,-1.185428,1.401860,-0.865850,-1.498657,-2.063184,0.103453,-1.543161,1.145792,1.085751
15035,-1.303986,-1.138630,1.447753,-0.913470,-1.438759,-2.268905,-0.276638,-1.513247,1.293578,1.119943
15036,-1.386267,-1.076233,1.476971,-0.951488,-1.410967,-2.789257,-1.026650,-1.467922,2.695925,2.170062
15037,-1.420423,-0.998236,1.441590,-0.988848,-1.447624,-2.456474,-0.528337,-1.422598,1.924683,2.391165
15038,-1.430734,-0.935839,1.334652,-1.016605,-1.464635,-2.051083,0.057689,-1.377273,1.354150,2.321539

## Data splitting

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train,X_test,y_train,y_test = train_test_split(scaled_X,y,test_size=0.20,random_state=12)

In [12]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((12031, 10), (3008, 10), (12031, 1), (3008, 1))

## Model building

### build architecture

In [13]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense,Dropout

In [14]:
model = Sequential()
model.add(Dense(units = 50,activation='relu',input_dim=10)) #I/P
model.add(Dense(units = 30,activation='relu')) #H1
model.add(Dense(units = 40,activation='relu')) #H2
model.add(Dense(units = 1)) #O/P
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                550

 dense_1 (Dense)             (None, 30)                1530

 dense_2 (Dense)             (None, 40)                1240

 dense_3 (Dense)             (None, 1)                 41

=================================================================
Total params: 3,361
Trainable params: 3,361
Non-trainable params: 0
_________________________________________________________________

## Model compile

In [15]:
model.compile(optimizer='Adam',loss ='mean_absolute_error' ,metrics = ['mse'])

## Train model

In [16]:
model.fit(X_train,y_train,epochs=60)

Epoch 1/60
376/376 [==============================] - 1s 2ms/step - loss: 47.5918 - mse: 4865.3809
Epoch 2/60
376/376 [==============================] - 1s 1ms/step - loss: 6.6713 - mse: 100.9717
Epoch 3/60
376/376 [==============================] - 0s 1ms/step - loss: 4.0387 - mse: 47.0400
Epoch 4/60
376/376 [==============================] - 0s 1ms/step - loss: 2.8139 - mse: 22.7330
Epoch 5/60
376/376 [==============================] - 1s 1ms/step - loss: 2.0251 - mse: 12.2946
Epoch 6/60
376/376 [==============================] - 0s 1ms/step - loss: 1.5434 - mse: 7.0269
Epoch 7/60
376/376 [==============================] - 0s 1ms/step - loss: 1.2712 - mse: 4.7339
Epoch 8/60
376/376 [==============================] - 0s 1ms/step - loss: 1.1009 - mse: 3.4299
Epoch 9/60
376/376 [==============================] - 1s 2ms/step - loss: 0.9364 - mse: 2.5152
Epoch 10/60
376/376 [==============================] - 1s 1ms/step - loss: 0.8724 - mse: 2.1175
Epoch 11/60
376/376 [==============================] - 1s 1ms/step - loss: 0.7817 - mse: 1.8425
Epoch 12/60
376/376 [==============================] - 0s 1ms/step - loss: 0.7244 - mse: 1.6623
Epoch 13/60
376/376 [==============================] - 1s 1ms/step - loss: 0.7085 - mse: 1.5827
Epoch 14/60
376/376 [==============================] - 1s 1ms/step - loss: 0.7183 - mse: 1.5710
Epoch 15/60
376/376 [==============================] - 1s 2ms/step - loss: 0.6877 - mse: 1.4266
Epoch 16/60
376/376 [==============================] - 1s 1ms/step - loss: 0.6539 - mse: 1.3412
Epoch 17/60
376/376 [==============================] - 1s 1ms/step - loss: 0.6122 - mse: 1.1996
Epoch 18/60
376/376 [==============================] - 1s 1ms/step - loss: 0.6042 - mse: 1.1236
Epoch 19/60
376/376 [==============================] - 0s 1ms/step - loss: 0.6124 - mse: 1.0765
Epoch 20/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5995 - mse: 1.0272
Epoch 21/60
376/376 [==============================] - 1s 2ms/step - loss: 0.6152 - mse: 1.0728
Epoch 22/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5860 - mse: 0.9469
Epoch 23/60
376/376 [==============================] - 0s 1ms/step - loss: 0.5741 - mse: 0.8678
Epoch 24/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5977 - mse: 0.9067
Epoch 25/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5676 - mse: 0.8381
Epoch 26/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5593 - mse: 0.7880
Epoch 27/60
376/376 [==============================] - 1s 2ms/step - loss: 0.5574 - mse: 0.7857
Epoch 28/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5450 - mse: 0.7453
Epoch 29/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5579 - mse: 0.7430
Epoch 30/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5663 - mse: 0.7402
Epoch 31/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5271 - mse: 0.6568
Epoch 32/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5564 - mse: 0.6991
Epoch 33/60
376/376 [==============================] - 1s 2ms/step - loss: 0.5636 - mse: 0.7063
Epoch 34/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5107 - mse: 0.6021
Epoch 35/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5299 - mse: 0.6192
Epoch 36/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5254 - mse: 0.6065
Epoch 37/60
376/376 [==============================] - 1s 2ms/step - loss: 0.5731 - mse: 0.6793
Epoch 38/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5149 - mse: 0.5769
Epoch 39/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5475 - mse: 0.6367
Epoch 40/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5569 - mse: 0.6411
Epoch 41/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5042 - mse: 0.5511
Epoch 42/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5219 - mse: 0.5657
Epoch 43/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5475 - mse: 0.6012
Epoch 44/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5181 - mse: 0.5535
Epoch 45/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5210 - mse: 0.5481
Epoch 46/60
376/376 [==============================] - 1s 2ms/step - loss: 0.5319 - mse: 0.5702
Epoch 47/60
376/376 [==============================] - 1s 2ms/step - loss: 0.4980 - mse: 0.5098
Epoch 48/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5221 - mse: 0.5542
Epoch 49/60
376/376 [==============================] - 1s 2ms/step - loss: 0.5098 - mse: 0.5143
Epoch 50/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5404 - mse: 0.5666
Epoch 51/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5283 - mse: 0.5416
Epoch 52/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5472 - mse: 0.5664
Epoch 53/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5284 - mse: 0.5429
Epoch 54/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5166 - mse: 0.5155
Epoch 55/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5061 - mse: 0.4981
Epoch 56/60
376/376 [==============================] - 1s 2ms/step - loss: 0.5010 - mse: 0.4888
Epoch 57/60
376/376 [==============================] - 1s 2ms/step - loss: 0.5076 - mse: 0.5005
Epoch 58/60
376/376 [==============================] - 1s 2ms/step - loss: 0.5149 - mse: 0.5159
Epoch 59/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5229 - mse: 0.5159
Epoch 60/60
376/376 [==============================] - 1s 1ms/step - loss: 0.5162 - mse: 0.5063

## Model testing

In [17]:
prediction = model.predict(X_test)

In [18]:
model.evaluate(X_test,y_test)

94/94 [==============================] - 0s 993us/step - loss: 0.4185 - mse: 0.3771

[0.4184952974319458, 0.3771299421787262]

In [21]:
prediction = np.round(prediction)

In [22]:
df = y_test.copy()
df['y_pred'] = prediction

In [23]:
df

          TEY  y_pred
4841   112.06   111.0
6730   127.18   127.0
7694   132.70   132.0
9566   159.95   160.0
6017   132.85   133.0
...       ...     ...
8393   134.47   133.0
5024   134.17   134.0
4138   134.46   135.0
3300   132.83   133.0
12035  144.57   144.0

[3008 rows x 2 columns]

## ================================= End =================================